img {
  width: 400px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: rgb(107, 26, 73);
  background-color: initial;
  padding: 50px;
  border-color: rgb(0, 0, 0);
  border-style: groove;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}
